*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body{
    background: #fff;
  }
  
  .wrapper .header{
    width: 100%;
    z-index: 1;
    background: #22242A;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    top: 0;
  }
  
  .wrapper .header .header-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .wrapper .header .header-menu .title{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .wrapper .header .header-menu .title span{
    color: #4CCEE8;
  }
  
  .wrapper .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left: 300px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrapper .header .header-menu .sidebar-btn:hover{
    color: #4CCEE8;
  }
  
  .wrapper .header .header-menu ul{
    display: flex;
  }
  .wrapper .sidebar{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    min-height: 100vh;
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
  }
  .wrapper .sidebar .sidebar-menu{
    overflow: hidden;
  }
  .wrapper .sidebar .sidebar-menu .profile p{
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #4CCEE8;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #3498DB;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    transition: 0.3s;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #55B1F0;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
    border-bottom: 1px solid #8FC5E9;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
  }
  
  .wrapper .main-container
  {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    transition: 0.3s;
    margin-top: 100px;
    margin-left: 240px;
    height: 650px;
  }
  .wrapper.collapse .sidebar{
    width: 70px;
  }
  
  .wrapper.collapse .sidebar .profile img,
  .wrapper.collapse .sidebar .profile p,
  .wrapper.collapse .sidebar a span{
    display: none;
  }
  
  .wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
  }
  
  .wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
  }
  
  .wrapper.collapse .main-container{
    margin-left: 70px;
  }
  .wrapper .main-container .card
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 10px 50px rgba(0, 0, 0, .1);
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: 50px;
    transition: .5s;
    cursor: pointer;
  }
  .wrapper .main-container .card .gach
  {
      width: 2px;
      height: 50%;
      background: #000000;
  }
  .wrapper .main-container .card:hover .gach
  {
      background: #fff;
  }
  .wrapper .main-container .card:hover
  {
      background: #2F323A;
      color: #fff;
      transform: translateY(-15px);
  }
  .wrapper .main-container .card .icon
  {
      font-size: 40px;
      text-align: center;
  }
  .wrapper .main-container .card .icon .fas
  {
      color: #2ecc71;
      margin-left: 20px;
  }
  .wrapper .main-container .card:nth-child(2) .icon .fas
  {
    color: #3498db;
    margin-left: 20px;
  }
  .wrapper .main-container .card:nth-child(3) .icon .fas
  {
    color: #f1c40f;
  }
  .wrapper .main-container .card:nth-child(4) .icon .fas
  {
    color: #95a5a6;
    margin-right: 10px;
  }
  .wrapper .main-container .card .icon p
  {
      font-size: 20px;
      margin-top: 20px;
      margin-left: 20px;
  }
  .wrapper .main-container .card .sl p
  {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    margin-right: 20px;
  }
  .wrapper .main-container .card2 
  {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 70px;
  }
  .wrapper .main-container .card2 .claender
  {
    width: 300px;
    background: #fff;
    text-align: center;
    border-radius: 8px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#2F323A);
    cursor: pointer;
    transition: .5s;
  }
.wrapper .main-container .card2 .claender:hover
{
    transform: translateX(-50px);
}
  .wrapper .main-container .card2 .claender #monthName
{
    padding: 5px 10px;
    background: #2F323A;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.wrapper .main-container .card2 .claender #dayName
{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #999;
}
.wrapper .main-container .card2 .claender #dayNumber
{
  margin-top: 0px;
  line-height: 1em;
  font-size: 80px;
  font-weight: 700;
  color: #333;
}
.wrapper .card2 .claender #year
{
  font-size: 20px;
  font-weight: 500;
  color: #999;
  padding-bottom: 5px;
}
.wrapper .main-container .card3
{
  position: absolute;
  top: 50%;
  left: 440px;
  margin-left: 30px;
  transition: .5s;
}
.wrapper .main-container .card4
{
  position: absolute;
  top: 50%;
  left: 800px;
    background: #fff;
    box-shadow: 0 10px 50px rgba(0, 0, 0, .1);
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: 50px;
    transition: .5s;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.wrapper .main-container .card4 .icon
{
      font-size: 20px;
      text-align: center;
   	margin-left: 90px;
}
.wrapper .main-container .card4 .icon i
{
    color: #2F323A;
	
}
.wrapper .main-container .card4 .icon p
{
    color: #2F323A;
}
.wrapper .main-container .card4:hover
{
      background: #AFAFAF;
      transform: translateY(-15px);
}
.wrapper .main-container .card3:hover
{
  transform: translateX(40px);
}
.wrapper .main-container .card3 
{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/clock.png);
  background-size: cover;
  border-radius: 50%;
  border: 4px solid #eee;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
              inset 0 -15px 15px rgba(255, 255, 255, 0.05),
              0 15px 15px rgba(0, 0, 0, 0.3),
              0 15px 15px rgba(0, 0, 0, 0.3);
}
.wrapper .main-container .card3::before
{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #2F323A;
  border-radius: 50%;
  z-index: 1000;
}
.wrapper .main-container .card3 .hour,
.wrapper .main-container .card3 .min,
.wrapper .main-container .card3 .sec
{
  position: absolute;
}
.wrapper .main-container .card3 .hour, 
.hr
{
  width: 160px;
  height: 160px;
}
.wrapper .main-container .card3 .min, 
.mn
{
  width: 190px;
  height: 190px;
}
.wrapper .main-container .card3 .sec, 
.sc
{
  width: 230px;
  height: 200px;
}
.hr , .mn , .sc
{
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr::before
{
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background: #2F323A;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn::before
{
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background: #2F323A;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc::before
{
  content: '';
  position: absolute;
  width: 2px;
  height: 140px;
  background: #2F323A;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
.wrapper .main-container .form-box
{
  width: 100%;
  height: 800px;
  overflow: hidden;
  background: #fff;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  transition: .5s;
  flex-wrap: wrap;
  position: relative;
}
.wrapper .main-container .form-box .text h2
{
  font-weight: 500;
  color: #2F323A;
  margin-left: 10px;
  font-size: 2em;
  margin-top: 20px;
}
.wrapper .main-container .form-box .form
{
  position: relative;
  display: flex;
}
.wrapper .main-container .form-box .form .inpuxbox
{
  margin-top: 20px;
  margin-right: 10px;
}
.wrapper .main-container .form-box .form .inpuxbox input
{
  width: 250px;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  outline: none;
  border: 2px solid #2F323A;
  height: 40px;
  padding: 10px;
  line-height: 40px;
}
::-webkit-input-placeholder
{
  color: #2F323A;
  font-weight: 500;
}
.wrapper .main-container .form-box .form .inpuxbox button
{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  background: #2F323A;
  color: #fff;
  max-width: 120px;
  height: 40px;
  border-radius: 10px;
}
.wrapper .main-container .form-box .form .icon
{
  line-height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.wrapper .main-container .form-box .form .icon .fas
{
  margin-right: 20px;
}
.wrapper .main-container .form-box .table
{
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  margin: 20px;
  width: 95%;
  height: 300px;
  overflow-y: scroll;
  background: #2F323A;
  color: #fff;
}
.wrapper .main-container .form-box .table th, td
{
  text-align: left;
  padding: 8px 54px;
}
.wrapper .main-container .form-box .table th, td .fas
{
  margin-right: 5px;
  cursor: pointer;
}
.wrapper .main-container.hide
{
  display: none;
}  
                             