*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body{
    background: #fff;
  }
  
  .wrapper .header{
    width: 100%;
    z-index: 1;
    background: #22242A;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    top: 0;
  }
  
  .wrapper .header .header-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .wrapper .header .header-menu .title{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .wrapper .header .header-menu .title span{
    color: #4CCEE8;
  }
  
  .wrapper .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left: 300px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrapper .header .header-menu .sidebar-btn:hover{
    color: #4CCEE8;
  }
  
  .wrapper .header .header-menu ul{
    display: flex;
  }
  .wrapper .sidebar{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    min-height: 100vh;
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
  }
  .wrapper .sidebar .sidebar-menu{
    overflow: hidden;
  }
  .wrapper .sidebar .sidebar-menu .profile p{
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #4CCEE8;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #3498DB;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    transition: 0.3s;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #55B1F0;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
    border-bottom: 1px solid #8FC5E9;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
  }
  
  .wrapper .main-container
  {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    transition: 0.3s;
    margin-top: 100px;
    margin-left: 240px;
    height: 650px;
  }
  .wrapper.collapse .sidebar{
    width: 70px;
  }
  
  .wrapper.collapse .sidebar .profile img,
  .wrapper.collapse .sidebar .profile p,
  .wrapper.collapse .sidebar a span{
    display: none;
  }
  
  .wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
  }
  
  .wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
  }
  
  .wrapper.collapse .main-container{
    margin-left: 70px;
  }
.wrapper .main-container .form-box
{
  width: 100%;
  height: 800px;
  overflow: hidden;
  background: #fff;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  transition: .5s;
  position: relative;
}
.wrapper .main-container .form-box .radio
{
    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-15%,-40%);
}
.wrapper .main-container .form-box .radio label
{
    padding: 20px;
    color: #2F323A;
}
.wrapper .main-container .form-box .radio input
{
    cursor: pointer;
    margin-left: 5px;
}
.wrapper .main-container .form-box .text h2
{
  font-weight: 500;
  color: #2F323A;
  margin-left: 20px;
  font-size: 2em;
  margin-top: 20px;
}
.wrapper .main-container .form-box .form
{
  position: relative;
  display: flex;
}
.wrapper .main-container .form-box .form .inpuxbox
{
  margin-top: 20px;
  margin-right: 10px;
}
.wrapper .main-container .form-box .form .inpuxbox input
{
  width: 250px;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  outline: none;
  border: 2px solid #2F323A;
  height: 40px;
  padding: 10px;
  line-height: 40px;
}
::-webkit-input-placeholder
{
  color: #2F323A;
  font-weight: 500;
}
.wrapper .main-container .form-box .form .inpuxbox button
{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  background: #2F323A;
  color: #fff;
  max-width: 120px;
  height: 40px;
  border-radius: 10px;
}
.wrapper .main-container .form-box .form .icon
{
  line-height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.wrapper .main-container .form-box .form .icon .fas
{
  margin-right: 20px;
}
.wrapper .main-container .form-box .table
{
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  margin: 20px;
  width: 95%;
  height: 300px;
  overflow-y: scroll;
  background: #2F323A;
  color: #fff;
}
.wrapper .main-container .form-box .table th, td
{
  text-align: center;
  padding: 8px 90px;
}
.wrapper .main-container .form-box .table th, td .fas
{
  margin-right: 5px;
  cursor: pointer;
}
.wrapper .main-container.hide
{
  display: none;
}  
                             