*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body{
    background: #fff;
  }
  
  .wrapper .header{
    width: 100%;
    z-index: 1;
    background: #22242A;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    top: 0;
  }
  
  .wrapper .header .header-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .wrapper .header .header-menu .title{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .wrapper .header .header-menu .title span{
    color: #4CCEE8;
  }
  
  .wrapper .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left: 300px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrapper .header .header-menu .sidebar-btn:hover{
    color: #4CCEE8;
  }
  
  .wrapper .header .header-menu ul{
    display: flex;
  }
  .wrapper .sidebar{
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    min-height: 100vh;
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
  }
  .wrapper .sidebar .sidebar-menu{
    overflow: hidden;
  }
  .wrapper .sidebar .sidebar-menu .profile p{
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #4CCEE8;
  }
  .wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #3498DB;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    transition: 0.3s;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #55B1F0;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
    border-bottom: 1px solid #8FC5E9;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
  }
  
  .wrapper .main-container
  {
    position: relative;
    padding: 30px;
    transition: 0.3s;
    margin-top: 100px;
    margin-left: 270px;
    width: 85%;
    height: 1100px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    display: flex;
  }
  .wrapper.collapse .sidebar{
    width: 70px;
  }
  .wrapper .main-container  .imgBx
  {
    position: relative;
    width: 50%;
    height: 100%;
  }
  .wrapper .main-container  .imgBx::before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    mix-blend-mode: screen;
  }
  .wrapper .main-container  .imgBx img
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrapper .main-container .contentbox
  {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .wrapper .main-container .contentbox .fromBx
  {
    width: 50%;
  }
  .wrapper .main-container .contentbox .fromBx h2
  {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 4px solid #ff4584;
    letter-spacing: 1px;
    display: inline-block;
  }
  .wrapper .main-container .contentbox .fromBx .inputBx
  {
    margin-bottom: 20px;
  }
  .wrapper .main-container .contentbox .fromBx p
  {
    margin-top: 10px;
  }
  .wrapper .main-container .contentbox .fromBx .inputBx span,
  .wrapper .main-container .contentbox .fromBx .inputBx select
  {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .wrapper .main-container .contentbox .fromBx .inputBx input,
  .wrapper .main-container .contentbox .fromBx .inputBx select
  {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
  }
  .wrapper .main-container .contentbox .fromBx .inputBx2 
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .main-container .contentbox .fromBx .inputBx2 input[type="file"]
  {
    display: none;
  }
  .wrapper .main-container .contentbox .fromBx .inputBx2 label
  {
    color: #fff;
    background: #f53677;
    padding: 10px 20px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .wrapper .main-container .contentbox .fromBx .inputBx input[type="submit"]
  {
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
  }
  .wrapper .main-container .contentbox .fromBx .inputBx input[type="submit"]:hover
  {
    background: #f53677;
  }
  .wrapper.collapse .sidebar .profile img,
  .wrapper.collapse .sidebar .profile p,
  .wrapper.collapse .sidebar a span{
    display: none;
  }
  .wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
  }
  .wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
  }
  
  .wrapper.collapse .main-container{
    margin-left: 70px;
  }