<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Sidebar Dashboard Template With Sub Menu</title>
        <link rel="stylesheet" th:href="@{/css/themtaikhoan.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>

        <!--wrapper start-->
        <div class="wrapper">
            <!--header menu start-->
            <div class="header">
                <div class="header-menu">
                    <div class="title">QuanLi<span>TruongHoc</span></div>
                    <div class="sidebar-btn" onclick="toggleMenu();">
                        <i class="fas fa-bars" ></i>
                    </div>
                </div>
            </div>
            <!--header menu end-->
            <!--sidebar start-->
            <div class="sidebar">
                <div class="sidebar-menu">
                    <li class="item" id="dashboard">
                        <a th:href="@{/admin}" class="menu-btn">
                            <i class="fas fa-tachometer-alt"></i><span>Thongke</span>
                        </a>
                    </li>
                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-user-graduate"></i><span>HocSinh</i> <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a th:href="@{/admin/tatcahocsinh}"><i class="fas fa-user-graduate"></i><span>TatCaHocSinh</span></a>
                            <a th:href="@{/admin/themhocsinh}"><i class="fas fa-user-plus"></i><span>ThemHocSinh</span></a>
                            <a th:href="@{/admin/timkiemhocsinh}"><i class="fas fa-search"></i><span>TìmKiem</span></a>
                        </div>
                    </li>
                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-chalkboard-teacher"></i><span>GiaoVien</i> <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a th:href="@{/admin/tatcagiaovien}"><i class="fas fa-chalkboard-teacher"></i><span>TatCaGiaoVien</span></a>
                            <a th:href="@{/admin/themgiaovien}"><i class="fas fa-user-plus"></i><span>ThemGiaoVien</span></a>
                            <a th:href="@{/admin/timkiemgiaovien}"><i class="fas fa-search"></i><span>TimKiem</span></a>
                        </div>
                    </li>
                    <li class="item" id="settings">
                        <a href="#settings" class="menu-btn">
                            <i class="fas fa-calendar-alt"></i><span>Lop</span>
                        </a>
                    </li>
                    <li class="item" id="settings">
                        <a href="#settings" class="menu-btn">
                            <i class="fas fa-calendar-alt"></i><span>ThoiKhoaBieu</span>
                        </a>
                    </li>
                    <li class="item" id="settings">
                        <a href="#settings" class="menu-btn">
                            <i class="fas fa-print"></i><span>BangDiem</span>
                        </a>
                    </li>
                    <li class="item" id="messagess">
                        <a href="#messagess" class="menu-btn">
                            <i class="fas fa-user"></i><span>QuanLiTaiKhoan</i> <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a th:href="@{/admin/tatcataikhoan}"><i class="fas fa-chalkboard-teacher"></i><span>TatCaTaiKhoan</span></a>
                            <a th:href="@{/admin/themtaikhoan}"><i class="fas fa-user-plus"></i><span>ThemTaiKhoan</span></a>
                        </div>
                    </li>
                    <li class="item">
                        <a th:href="@{/login/logout}" class="menu-btn">
                        <i class="fas fa-sign-out-alt"></i><div>Đăng Xuất khỏi tài khoản:</div><span th:text="${user.tentaikhoan}"></span>
                    </a>
                    </li>
                </div>
            </div>
            <!--sidebar end-->
            <!--main container start-->
            <div class="main-container">
                    <div class="imgBx">
                        <img th:src="@{/img/img1.jpg}">
                    </div>
                    <div class="contentbox">
                        <div class="fromBx">
                            <h2>ThemTaiKhoan</h2>
                            <form th:action="@{/admin/themtaikhoan}" th:object="${account}" method="post">
                                <div class="inputBx">
                                    <span>TenTaiKhoan2</span>
                                    <input type="text" name="" th:field="*{tentaikhoan}">
                                </div>
                                <div class="inputBx">
                                    <span>Email</span>
                                    <input type="text" name="" th:field="*{email}">
                                </div>
                                <div class="inputBx">
                                    <span>MatKhau</span>
                                    <input type="text" name="" th:field="*{matkhau}">
                                </div>
                                <div class="inputBx">
                                    <span>Sdt</span>
                                    <input type="text" name="" th:field="*{sodienthoai}">
                                </div>
                                <div class="inputBx">
                                    <select th:field="*{typeOfAccount}">
							         <option th:each="type : ${T(qlhs.model.TypeOfAccount).values()}" 
							          	th:value="${type}"
							         	th:text="${type}">
							         </option>
                                    </select>
                                </div>
                                <div class="inputBx">
                                    <input type="submit" value="Them" name="">
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            <!--main container end-->
        </div>    
        <!--wrapper end-->
        <script th:src="@{/js/menu.js}"></script>
       </body>
</html>
                           