<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Sidebar Dashboard Template With Sub Menu</title>
        <link rel="stylesheet" th:href="@{/css/themchucvu.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>

        <!--wrapper start-->
        <div class="wrapper">
            <!--header menu start-->
            <div class="header">
                <div class="header-menu">
                    <div class="title">QuanLi<span>TruongHoc</span></div>
                    <div class="sidebar-btn" onclick="toggleMenu();">
                        <i class="fas fa-bars" ></i>
                    </div>
                </div>
            </div>
            <!--header menu end-->
            <!--sidebar start-->
            <div class="sidebar">
                <div class="sidebar-menu">
                    <li class="item" id="dashboard">
                        <a th:href="@{/admin}" class="menu-btn">
                            <i class="fas fa-tachometer-alt"></i><span>Thongke</span>
                        </a>
                    </li>
                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-user-graduate"></i><span>HocSinh</i> <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a th:href="@{/admin/tatcahocsinh}"><i class="fas fa-user-graduate"></i><span>TatCaHocSinh</span></a>
                            <a th:href="@{/admin/timkiemhocsinh}"><i class="fas fa-search"></i><span>TìmKiem</span></a>
                        </div>
                    </li>
                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-chalkboard-teacher"></i><span>GiaoVien</i> <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a th:href="@{/admin/tatcagiaovien}"><i class="fas fa-chalkboard-teacher"></i><span>TatCaGiaoVien</span></a>
                            <a th:href="@{/admin/timkiemgiaovien}"><i class="fas fa-search"></i><span>TimKiem</span></a>
                        </div>
                    </li>s
                    <li class="item" id="settings">
                        <a href="#settings" class="menu-btn">
                            <i class="fas fa-calendar-alt"></i><span>ThoiKhoaBieu</span>
                        </a>
                    </li>
                    <li class="item" id="settings">
                        <a href="#settings" class="menu-btn">
                            <i class="fas fa-print"></i><span>BangDiem</span>
                        </a>
                    </li>
                    <li class="item" id="messagess">
                        <a href="#messagess" class="menu-btn">
                            <i class="fas fa-user"></i><span>QuanLiTaiKhoan</i> <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a th:href="@{/admin/tatcataikhoan}"><i class="fas fa-chalkboard-teacher"></i><span>TatCaTaiKhoan</span></a>
                            <a th:href="@{/admin/themtaikhoan}"><i class="fas fa-user-plus"></i><span>ThemTaiKhoan</span></a>
                            <a th:href="@{/admin/themchucvu}"><i class="fas fa-briefcase"></i><span>ThemChucVu</span></a>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="menu-btn">
                        <i class="fas fa-sign-out-alt"></i><span>DangXuat</span>
                    </a>
                    </li>
                </div>
            </div>
            <!--sidebar end-->
            <!--main container start-->
        <div class="main-container">
            <div class="formbox">  
                    <div class="content">
                        <h1>ThemChucVu</h1>
                        <div class="text">
                        <form th:action="@{/admin/themchucvu}" th:object="${chucvu}" method="post">
                            <h2>TenChucVu</h2>
                            <input type="text" name="" th:field="*{tenchucvu}">
                            <input type="submit" value="Luu">
                        </form>
                        </div>
                    </div>  
                        <div class="content">
                            <h1>DanhSachChucVu</h1>
                            <div class="list">
                                <th:block th:if="${#lists.isEmpty(chucvus)}">
									<th:block>
										<p>No ChucVu Available</p>
									</th:block>
								</th:block>
								<th:block th:unless="${#lists.isEmpty(chucvus)}">
									<th:block th:each="chucvu : ${chucvus}">
										<p th:text="${chucvu.tenchucvu}">None</p>
									</th:block>
								</th:block>
                            </div>
                        </div>
            </div>
        </div>       
        <!--wrapper end-->
        <script th:src="@{/js/menu.js}"></script>
       </body>
</html>
                           