<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Sidebar Dashboard Template With Sub Menu</title>
        <link rel="stylesheet" th:href="@{/css/stylethemhocsinh.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>

        <!--wrapper start-->
        <div class="wrapper">
            <!--header menu start-->
            <div class="header">
                <div class="header-menu">
                    <div class="title">QuanLi<span>TruongHoc</span></div>
                    <div class="sidebar-btn" onclick="toggleMenu();">
                        <i class="fas fa-bars" ></i>
                    </div>
                </div>
            </div>
            <!--header menu end-->
            <!--sidebar start-->
            <div class="sidebar">
                <div class="sidebar-menu">
                    <li class="item" id="dashboard">
                        <a th:href="@{/admin}" class="menu-btn">
                            <i class="fas fa-tachometer-alt"></i><span>Thongke</span>
                        </a>
                    </li>
                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-user-graduate"></i><span>HocSinh</i> <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a th:href="@{/admin/tatcahocsinh}"><i class="fas fa-user-graduate"></i><span>TatCaHocSinh</span></a>
                            <a th:href="@{/admin/themhocsinh}"><i class="fas fa-user-plus"></i><span>ThemHocSinh</span></a>
                            <a th:href="@{/admin/timkiemhocsinh}"><i class="fas fa-search"></i><span>TìmKiem</span></a>
                        </div>
                    </li>
                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-chalkboard-teacher"></i><span>GiaoVien</i> <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a th:href="@{/admin/tatcagiaovien}"><i class="fas fa-chalkboard-teacher"></i><span>TatCaGiaoVien</span></a>
                            <a th:href="@{/admin/themgiaovien}"><i class="fas fa-user-plus"></i><span>ThemGiaoVien</span></a>
                            <a th:href="@{/admin/timkiemgiaovien}"><i class="fas fa-search"></i><span>TimKiem</span></a>
                        </div>
                    </li>
                    <li class="item" id="settings">
                        <a href="#settings" class="menu-btn">
                            <i class="fas fa-calendar-alt"></i><span>Lop</span>
                        </a>
                    </li>
                    <li class="item" id="settings">
                        <a href="#settings" class="menu-btn">
                            <i class="fas fa-calendar-alt"></i><span>ThoiKhoaBieu</span>
                        </a>
                    </li>
                    <li class="item" id="settings">
                        <a href="#settings" class="menu-btn">
                            <i class="fas fa-print"></i><span>BangDiem</span>
                        </a>
                    </li>
                    <li class="item" id="messagess">
                        <a href="#messagess" class="menu-btn">
                            <i class="fas fa-user"></i><span>QuanLiTaiKhoan</i> <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a th:href="@{/admin/tatcataikhoan}"><i class="fas fa-chalkboard-teacher"></i><span>TatCaTaiKhoan</span></a>
                            <a th:href="@{/admin/themtaikhoan}"><i class="fas fa-user-plus"></i><span>ThemTaiKhoan</span></a>
                        </div>
                    </li>
                    <li class="item">
                        <a th:href="@{/login/logout}" class="menu-btn">
                        <i class="fas fa-sign-out-alt"></i><div>Đăng Xuất khỏi tài khoản:</div><span th:text="${user.tentaikhoan}"></span>
                    </a>
                    </li>
                </div>
            </div>
            <!--sidebar end-->
            <!--main container start-->
            <div class="main-container">
                <div class="text">
                    <h2>ThemHocSinh</h2>
                </div>
                    <form class="edit" th:action="@{/admin/themhocsinh}" th:object="${student}" method="post">
                        <div class="input">
                            <div>
                                <div class="text-box">MaHocSinh</div>
                                <input type="text" th:field="*{mshs}">
                            </div>
                            <div>
                                <div class="text-box">HoVaTen</div>
                                <input type="text" th:field="*{hoten}">
                            </div>
                            <div>
                                <div class="text-box">PhuHuynh</div>
                                <input type="text" th:field="*{tenphuhuynh}" >
                            </div>
                            <div>
                                <div class="text-box">GioiTinh</div>
                                <select th:field="*{gioitinh}">
							         <option value="Male">Male</option>
							         <option value="Female">Female</option>
                                 </select>
                            </div>
                            <div>
                                <div class="text-box">NgaySinh</div>
                                <input type="date" name="" th:field="*{ngaysinh}">
                            </div>
                            <div>
                                <div class="text-box">NoiSinh</div>
                                <input type="text" th:field="*{noisinh}">
                            </div>
                            <div>
                                <div class="text-box">DanToc</div>
                                <input type="text" th:field="*{dantoc}">
                            </div>
                            <div>
                                <div class="text-box">DiaChi</div>
                                <input type="text" th:field="*{diachi}">
                            </div>
                            <div>
                                <div class="text-box">UploadAnh <span>(300px X 300px)</span></div>
                                <input type="submit" value="Choose File">
                            </div>
                        </div>
                        <div class="bottom">
                            <input type="submit" value="Them">
                            <input type="reset" value="LamMoi">
                        </div>    
                    </form>
            </div>
            <!--main container end-->
        </div>    
        <!--wrapper end-->
        <script th:src="@{/js/menu.js}"></script>
       </body>
</html>
                           